model_list:
  - model_name: my-llama3.2:1b
    litellm_params:
      model: ollama/llama3.2:1b
      api_base: http://ollama:11434
      input_cost_per_token: 0
      output_cost_per_token: 0
      temperature: 0.2
  - model_name: my-bge-m3:567m
    litellm_params:
      model: ollama/bge-m3:567m
      api_base: http://ollama:11434
      input_cost_per_token: 0
      output_cost_per_token: 0
  - model_name: my-qwen2.5-coder
    litellm_params:
      model: ollama/qwen2.5-coder:latest
      api_base: http://ollama:11434
      input_cost_per_token: 0
      output_cost_per_token: 0

general_settings:
  enforce_user_param: False
